@model CalcViewModel
@{
    ViewData["Title"] = "Home Page";

    string[] rowNames = [
        "Y",
        "1-exp",
        "1-m*exp",
        "v",
        "o",
        "t",
        "T",
        "delta T",
    ];
}

<div class="text-center">
    Результаты расчёта:<br />
    <table class="table table-hover">
        <tr>
            <th>Координаты y, м</th>
            @for (int y = 0; y < Model.ResultTable.GetLength(0); y++)
            {
                <th>@(y/2.0)</th>
            }
        </tr>

        @for (int i = 0; i < Model.ResultTable.GetLength(1); i++)
        {
            <tr>
                <td>@rowNames[i]</td>
                @for (int y = 0; y < Model.ResultTable.GetLength(0); y++)
                {
                    <td>@Model.ResultTable[y, i]</td>
                }
            </tr>
        }
    </table>

    <div id="chart1"></div>
    <div id="chart2"></div>
    <script>
        var layerPositions = @Json.Serialize(Model.LayerPositions);
        layerPositions.unshift("x");
        var materialTemps = @Json.Serialize(Model.MaterialTemperatures);
        materialTemps.unshift("Температура окатышей, С");
        var gasTemps = @Json.Serialize(Model.GasTemperatures);
        gasTemps.unshift("Температура воздуха, С");
        var tempsDiffs = @Json.Serialize(Model.TemperatureDifferences);
        tempsDiffs.unshift("Разность температур, С");
        var chart = c3.generate({
            bindto: '#chart1',
            data: {
                x: 'x',
                columns: [
                    layerPositions,
                    materialTemps,
                    gasTemps,
                ]
            }
        });
        var chart2 = c3.generate({
            bindto: '#chart2',
            data: {
                x: 'x',
                columns: [
                    layerPositions,
                    tempsDiffs,
                ]
            }
        });
    </script>
</div>
